## Basic constructs
basic python code
<img src="https://th.bing.com/th/id/OIP.zs5NhqVSdRXo7bQXhBURVAHaDk?w=302&h=168&c=7&o=5&pid=1.7"/>

In [1]:
print('hello world!')

hello world!

In [2]:
print('vandana','sruthi',sep=',',end='')

vandana,sruthi

In [3]:
name='vandana'
print(name)

vandana

In [4]:
name='sam'

In [5]:
print('monalisa')
name

monalisa

'sam'

# Data type

In [6]:
print(10+20)

30

In [7]:
print('10'+'20')

1020

In [8]:
type(10)

int

In [9]:
type(23.4)

float

In [10]:
type(name)

str

In [11]:
emp_name_google='vandana'
print(emp_name_google)

vandana

# boolean

In [12]:
a= True
print(a)

True

In [13]:
type(a)

bool

In [14]:
type(False)

bool

In [15]:
print(name)

sam

In [16]:
name[2]

'm'

In [17]:
# list
a=['red','green', 1]

In [18]:
type(a[2])

int

In [25]:
print(a[1])

green

In [33]:
type(a[2])

int

In [35]:
b=[1,2,3,4]
b*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [36]:
b[2]

3

In [37]:
type(b)

list

In [38]:
#Tuple
a=(1,2,3,4)

In [39]:
b

[1, 2, 3, 4]

In [40]:
b[2]

3

In [42]:
a[1]

2

In [43]:
b[2]=5

In [44]:
b# is mutable

[1, 2, 5, 4]

In [45]:
a[1]=5# tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [49]:
#Dictionary:key value pairs
MyDict={'name':'vandana','age':25}

In [50]:
MyDict['name']

'vandana'

In [51]:
MyDict['age']

25

In [53]:
MyDictMul={'name':['vandana','sruthi','sanya'],'age':[24,25,26]}

In [56]:
MyDictMul['name'][2]

'sanya'

In [58]:
MyDictMul['age'][2]

26

## Type casting

In [1]:
int('40')+9

49

In [2]:
'10'

'10'

In [3]:
'10'+str(30)

'1030'

In [4]:
myList=[1,2,3]

In [5]:
type(myList)

list

In [6]:
tuple(myList)

(1, 2, 3)

In [7]:
chr(34)

'"'

In [8]:
hex(10)

'0xa'

In [9]:
float(33)

33.0

# string operations

In [10]:
name='vandana'

In [11]:
name.upper()

'VANDANA'

In [12]:
name.lower()

'vandana'

In [13]:
name=' hello good morning '

In [14]:
name.replace('hello','hi')#to replace the string

'hi good morning'

In [16]:
name.strip()#to remove the space

'hello good morning'

In [19]:
name=input('Enter the name')
print('welcome',name)

Enter the namevandana
welcome vandana

In [23]:
name=input('enter the name')
print('hi '+name)

enter the namesruthi
hi sruthi

In [24]:
type(name)

str

In [25]:
x=5
x+=5
x

10

In [26]:
5/10

0.5

In [27]:
5//10 #floor division

0

In [28]:
2==5 #comaprison

False

In [29]:
3!=4 #not equal to

True

In [30]:
4==5 and 6==6 # if both are true

False

In [32]:
4==5 or 6==6  #if any one is true

True

In [33]:
# membership operator
5 in [1,2,3,4,5,6]

True

In [34]:
a=5
b=5
a is b # is identical

True

In [35]:
a=5 
b=6
a is b

False

## Decision making

In [36]:
balance=100
if balance>50:
    print('lets buy something')
else:
    print('nothing can buy')

lets buy something

In [44]:
if balance>50:
    print('lets buy something')
elif balance == 100:
    print('lets buy two things')
else:
    print('nothing can buy')

lets buy something

In [49]:
state= 'lets buy something' if (balance>50) else 'nothing can buy' # single line expression

In [50]:
state

'lets buy something'

In [51]:
'lets buy something' if (balance>50) else 'nothing can buy'

'lets buy something'

In [60]:
# nested loop
if balance>50:
    if balance ==50:
        print('buy chocolate')
    else:
        print('buy kinder joy')
elif balance == 100:
    print('lets buy two things')
else:
    print('nothing can buy')

buy kinder joy

## loops

In [61]:
a=5
print(a+1,a+2,a+3,a+4)

6 7 8 9

In [64]:
# sequential loop
for i in [1,2,3,4]:
    print(a+i)

6
7
8
9

In [65]:
for i in range(1,5): #[1,2,3,4]
    print(a+i)

6
7
8
9

In [66]:
# conditional loop
i=1
while i<6:
    print(a+i)
    i=i+1

6
7
8
9
10

In [75]:
b=[]
for i in [1,2,3,4]:
    b.append(a+i)

In [76]:
b

[6, 7, 8, 9]

In [73]:
b=[]
for i in [1,2,3,4]:
    b.append(a+i)

In [74]:
b

[6, 7, 8, 9]

In [77]:
for k,v in enumerate([1,2,3,4]):#key values indicates
    print('key:',k,'value:',v)

key: 0 value: 1
key: 1 value: 2
key: 2 value: 3
key: 3 value: 4

In [79]:
[i for i in range(1,5)] # i- is print

[1, 2, 3, 4]

In [80]:
[i+5 for i in range(1,5)]

[6, 7, 8, 9]

## Functions

In [3]:
def add(a,b):
     return a+b

In [4]:
add(1,2)

3

In [6]:
add(10,34)

44

In [11]:
def profile_details(username,followers):
    print('username:',username)
    print('followers:',followers)

In [12]:
profile_details('ram',1000)

username: ram
followers: 1000

In [13]:
profile_details(followers='1000',username='ram')

username: ram
followers: 1000

In [14]:
type(profile_details('ram',1000))

username: ram
followers: 1000

NoneType

In [16]:
def profile(username):
    return(username)  # when we put return its type is string

In [18]:
type(profile('sam'))

str

In [19]:
def profile(username):
    print(username)  #if we write print its type is non type

In [21]:
type(profile('sam'))

sam

NoneType

In [22]:
# with some default value
def profile_details(username,followers=0):
    print('username:',username)
    if (followers>0):
        print('followers:',followers)

In [24]:
profile_details('sam',1000)

username: sam
followers: 1000

### Classes and objects-OOPS

In [31]:
class Santafe:
    def Automatic(self):#self means access the member in the class or access the value
        print('This car is automatic')
    def Manual(self):
        print('This car is Manual')
    def ABS(self):
        print('ABS is installed in this car')

In [32]:
tom_car = Santafe()#object

In [33]:
tom_car.Automatic()#Accesing method

This car is automatic

In [34]:
sam_car=Santafe()
sam_car.Manual()

This car is Manual

In [40]:
class Santafe:
    def Automatic(self,username):#self means access the member in the class or access the value
        print(username,' car is automatic')
    def Manual(self,username):
        print(username,' car is Manual')
    def ABS(self):
        print('ABS is installed in this car')

In [42]:
tom_car = Santafe()

In [43]:
tom_car.Automatic('tom')

tom  car is automatic

In [44]:
sam_car=Santafe()
sam_car.Manual('sam')

sam  car is Manual

In [51]:
 class Santafe:
    abs=2
    
    def Automatic(self,username):
        print(username,'car is automatic')
        
    def Manual(self,username):
        print(username,'car is Manual')
        
    def ABS(self):
        print(self.abs,'ABS is installed in this car')

In [52]:
sam_car.ABS()

ABS is installed in this car

In [59]:
 class Santafe:
    abs=2
    
    def Automatic(self,username):
        print(username,'car is automatic')
        
    def Manual(self,username):
        print(username,'car is Manual')
        
    def ABS(self):
        print(self.abs,'ABS is installed in this car')

In [60]:
sam_car=Santafe()
sam_car.Manual('sam')

sam car is Manual

In [61]:
sam_car.ABS()

2 ABS is installed in this car

In [62]:
del sam_car#deleting an object

In [63]:
sam_car.ABS()

NameError: name 'sam_car' is not defined

In [78]:
class Santafe:
    abs=2
    
    def __init__(self):
        print('constructor got called')
    
    def Automatic(self,username):
        print(username,'car is automatic')
        
    def Manual(self,username):
        print(username,'car is Manual')
        
    def ABS(self):
        print(self.abs,'ABS is installed in this car')
    def __del__(self):
        print('destructor got called')

In [79]:
sam_car = Santafe()

constructor got called

In [80]:
del sam_car

destructor got called

In [88]:
class Santafe:
    abs=2
    
    def __init__(self,username,age):
        self.user=username
        self.age=age
        print('car got created')
    
    def Automatic(self):
        print(self.user,'of age',sel.age,'car is automatic')
        
    def Manual(self):
        print(self.user,'car is Manual')
        
    def ABS(self):
        print(self.abs,'ABS is installed in this car')
    def __del__(self):
        print('destructor got called')

In [87]:
sam_car=Santafe()

destructor got called

TypeError: __init__() missing 2 required positional arguments: 'username' and 'age'

In [93]:
class Santafe:
    abs=2
    
    def __init__(self,username,age):
        self.user=username
        self.age=age
        print('car got created')
    
    def Automatic(self):
        print(self.user,'of age',self.age,'car is automatic')
        
    def Manual(self):
        print(self.user,'car is Manual')
        
    def ABS(self):
        print(self.abs,'ABS is installed in this car')
    def __del__(self):
        print('destructor got called')

In [90]:
mona_car=Santafe('mona','21')

car got created

In [94]:
mona_car.Automatic()

NameError: name 'sel' is not defined

In [95]:
class Santafe:
    abs=2
    
    def __init__(self,username,age):
        self.user=username
        self.age=age
        print('car got created')
    
    def Automatic(self):
        print(self.user,'of age',self.age,'car is automatic')
        
    def Manual(self):
        print(self.user,'car is Manual')
        
    def ABS(self):
        print(self.abs,'ABS is installed in this car')
    def __del__(self):
        print('destructor got called')

In [97]:
mona_car=Santafe('mona','21')

car got created

In [98]:
mona_car.Automatic()

mona of age 21 car is automatic

In [99]:
mona_car.Manual()

mona car is Manual

In [103]:
#Inheritance
class creta(Santafe):#creta is parent class
    pass

In [104]:
ram=creta('ram','21')

car got created

In [105]:
ram.Automatic()

ram of age 21 car is automatic

In [4]:
# Import module numerical(user defined)
import numerical as m

In [2]:
numerical.add_num(3,4)#calling add_num fuction

7

In [5]:
m.add_num(3,4)

7

In [6]:
#inbuilt python package
import math # predefined

In [7]:
math.pi

3.141592653589793

In [8]:
#lamda function-anonymous function
x = lambda a:a+5

In [9]:
x(5)

10

In [10]:
y=lambda a,b:a+b

In [11]:
y(4,5)

9

In [22]:
a=open('My file.txt','r')

In [23]:
a.read()

'hello world!\nmy file'

In [27]:
a.close()

In [25]:
with open('My file.txt','w',encoding='utf-8')as f: # to writing
    f.write('new content\n')
    f.write('In new line\n')
    f.close()

In [26]:
with open('My file.txt','a',encoding='utf-8')as f:  #to appending
    f.write('new content\n')
    f.write('In new line\n')
    f.close()

In [7]:
import square

enter the side:5
area of square: 25

In [21]:
class area():
def areaofrectangle(length,breadth):
    return breadth*length
    
a=int(input("Enter length of rectangle: "))
b=int(input("Enter breadth of rectangle: "))
area=areaofrectangle(a,b)
print("Area of rectangle:",area)

def areaofsquare(side):
    return side*side
s=int(input("Enter side of square: "))
area=areaofsquare(s)
print("Area of square:",area)

def areaofcircle(radius):
    return radius**2*3.14
r=int(input("Enter radius of circle: "))
area=areaofcircle(r)
print("Area of circle:",area)

IndentationError: expected an indented block (<ipython-input-21-75140b74a8dc>, line 2)

In [28]:
import assign
x=assign.area()
x.rectangle(3,4)
x.square(4)
x.circle(3)

Area of rectangle 12
Area of square 16
Area of circle 28.259999999999998

In [3]:
z=0
for i in range(0,11):
    z=z+i
print(z)

55

In [1]:
#exception handling
try:
    print(50/0)
except:
    print('this  number cannot divide')

this  number cannot divide

In [2]:
try:
    print(50/1)
except:
    print('this  number cannot divide')

50.0

In [3]:
50/0

ZeroDivisionError: division by zero